body {
    background-color: lightblue;
}

.resultTable{
    background-color: pink;
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: left;
}

tr:nth-child(even) {
  background-color: #ebebcb;
}

tr:nth-child(odd) {
  background-color: #f4f4d3;
}

.resultTable > tbody > tr > * {
    /* background-color: beige; */
    margin: 0;
    padding: 5px 10px;
}

.buttonForm{
    margin: 10px;
}


.detailSection {
    font-family: sans-serif;
    margin: 10px;
}

h5 {
    margin: 10px 0px;
    border-bottom: 1px solid gray;
}

